In [249]:
# Import modules
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string

In [250]:
file_dir = 'C://Users/KyleKato/OneDrive/ut_bootcamp/Portfolio/Project/data/'
df = pd.read_csv(f'{file_dir}chinese_debt_trap_world.csv')
df.head(2)

,Expand All | Collapse All,YEAR,AMOUNT,LENDER,BORROWER,SECTOR,SENSITIVE TERRITORY OVERLAP,Country
0,"“Lar Patriota"" Infrastructure (Phase 1)",2011,$50M,CDB,Government,Transport,None Known,Angola
1,"10-Year Oil Supply Plan (10Mt/Year), ""Oil for ...",2009,$7.0B,CDB,Petrobras,"Extraction, pipelines",None Known,Brazil

In [251]:
df = df.rename(columns={'Expand All | Collapse All':'NAME'})
df.head(5)

,NAME,YEAR,AMOUNT,LENDER,BORROWER,SECTOR,SENSITIVE TERRITORY OVERLAP,Country
0,"“Lar Patriota"" Infrastructure (Phase 1)",2011,$50M,CDB,Government,Transport,None Known,Angola
1,"10-Year Oil Supply Plan (10Mt/Year), ""Oil for ...",2009,$7.0B,CDB,Petrobras,"Extraction, pipelines",None Known,Brazil
2,1000 housing project,2012,$47M,ExImBank,Government,Government,None Known,Suriname
3,115kV Transmission Line and Substation from Ph...,2009,$475M,ExImBank,Electricite Du Cambodge,Power,None Known,Cambodia
4,151 Multisector infrastructure projects,2016,$600M,CDB,Central Bank of Kenya,Mulit-sector/discretionary,None Known,Kenya

In [252]:
df[['before','after']] = df.AMOUNT.str.split('.', expand=True)
df.head(5)

,NAME,YEAR,AMOUNT,LENDER,BORROWER,SECTOR,SENSITIVE TERRITORY OVERLAP,Country,before,after
0,"“Lar Patriota"" Infrastructure (Phase 1)",2011,$50M,CDB,Government,Transport,None Known,Angola,$50M,None
1,"10-Year Oil Supply Plan (10Mt/Year), ""Oil for ...",2009,$7.0B,CDB,Petrobras,"Extraction, pipelines",None Known,Brazil,$7,0B
2,1000 housing project,2012,$47M,ExImBank,Government,Government,None Known,Suriname,$47M,None
3,115kV Transmission Line and Substation from Ph...,2009,$475M,ExImBank,Electricite Du Cambodge,Power,None Known,Cambodia,$475M,None
4,151 Multisector infrastructure projects,2016,$600M,CDB,Central Bank of Kenya,Mulit-sector/discretionary,None Known,Kenya,$600M,None

In [253]:
df['after'] = df['after'].replace(np.nan, '')
df.head(5)

,NAME,YEAR,AMOUNT,LENDER,BORROWER,SECTOR,SENSITIVE TERRITORY OVERLAP,Country,before,after
0,"“Lar Patriota"" Infrastructure (Phase 1)",2011,$50M,CDB,Government,Transport,None Known,Angola,$50M,
1,"10-Year Oil Supply Plan (10Mt/Year), ""Oil for ...",2009,$7.0B,CDB,Petrobras,"Extraction, pipelines",None Known,Brazil,$7,0B
2,1000 housing project,2012,$47M,ExImBank,Government,Government,None Known,Suriname,$47M,
3,115kV Transmission Line and Substation from Ph...,2009,$475M,ExImBank,Electricite Du Cambodge,Power,None Known,Cambodia,$475M,
4,151 Multisector infrastructure projects,2016,$600M,CDB,Central Bank of Kenya,Mulit-sector/discretionary,None Known,Kenya,$600M,

In [254]:
df['after'] = df['after'].str.replace('B', '00000000').str.replace('M', '00000')
df['before'] = df['before'].str.replace('B', '000000000').str.replace('M', '000000').str.replace('$', '')
df.head(5)

C:\Users\KyleKato\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,NAME,YEAR,AMOUNT,LENDER,BORROWER,SECTOR,SENSITIVE TERRITORY OVERLAP,Country,before,after
0,"“Lar Patriota"" Infrastructure (Phase 1)",2011,$50M,CDB,Government,Transport,None Known,Angola,50000000,
1,"10-Year Oil Supply Plan (10Mt/Year), ""Oil for ...",2009,$7.0B,CDB,Petrobras,"Extraction, pipelines",None Known,Brazil,7,000000000
2,1000 housing project,2012,$47M,ExImBank,Government,Government,None Known,Suriname,47000000,
3,115kV Transmission Line and Substation from Ph...,2009,$475M,ExImBank,Electricite Du Cambodge,Power,None Known,Cambodia,475000000,
4,151 Multisector infrastructure projects,2016,$600M,CDB,Central Bank of Kenya,Mulit-sector/discretionary,None Known,Kenya,600000000,

In [255]:
df['AMT'] = df['before'] + df['after']
df.drop(['before', 'after', 'AMOUNT'], axis=1, inplace=True)
df.head(5)

,NAME,YEAR,LENDER,BORROWER,SECTOR,SENSITIVE TERRITORY OVERLAP,Country,AMT
0,"“Lar Patriota"" Infrastructure (Phase 1)",2011,CDB,Government,Transport,None Known,Angola,50000000
1,"10-Year Oil Supply Plan (10Mt/Year), ""Oil for ...",2009,CDB,Petrobras,"Extraction, pipelines",None Known,Brazil,7000000000
2,1000 housing project,2012,ExImBank,Government,Government,None Known,Suriname,47000000
3,115kV Transmission Line and Substation from Ph...,2009,ExImBank,Electricite Du Cambodge,Power,None Known,Cambodia,475000000
4,151 Multisector infrastructure projects,2016,CDB,Central Bank of Kenya,Mulit-sector/discretionary,None Known,Kenya,600000000

In [257]:
plt.scatter(df.YEAR, df.AMT)
plt.title('title')
plt.xlabel('Year')
plt.ylabel('Amount')

AttributeError: 'DataFrame' object has no attribute 'YEAR'